
<div class="row">
	<div class="span12">
		<h3>Create A Preapproval Letter</h3>
	</div>
	<form id="createLetterForm" method="POST" action="#/">
	<div class="span12">	
	    <div class="span6">
		    <label>Client</label>
		    <select class="span4 required" id="clientList" name="clientList">
		      <option value="">Choose a client</option>	
		      {{#each users}}
		      	<option value="{{id}}">{{fullname}}</option>
		      {{/each}}
			</select>			
			<span class="help-block" id="clientListHelp">Can't find the client you're looking for? <a href="#newClientModal" role="button" data-toggle="modal">Create a new one</a>.</span>						
		</div>
		<div class="span5">
			<label>Expiration Date</label>			
			<div class="input-append">
				<input type="text" class="span2 required" id="expirationDate" name="expirationDate">
				<button class="btn btn-primary" type="button" id="expiresToday">Today</button>
				<button class="btn" type="button" id="expires60">+60</button>		
		    </div>
		    <label for="expirationDate" class="error" style="">This field is required.</label>		    
		    <span class="help-block" id="expiresDateHelp">Use buttons to jump date.</span>
		</div>
	</div>
	<div class="span12">	
	    <div class="span6">	
		    <label>Purchase Price</label>
			<div class="input-prepend input-append">
				<span class="add-on">$</span>			  
				<input class="span2 required number" type="text" id="purchasePrice" name="purchasePrice" value="" minlength="5" style="text-align: right" placeholder="100,000">	
				<span class="add-on">.00</span>
			</div>
			<label for="purchasePrice" class="error" style="">This field is required.</label>
		</div>
		<div class="span5">
			 <label>Down Payment</label>
			<div class="input-prepend input-append">
				<span class="add-on">$</span>			  
				<input class="span2 required number" type="text" id="downPayment" name="downPayment" value="" minlength="3" style="text-align: right" placeholder="10,000">	
				<span class="add-on">.00</span>
			</div>
			<label for="downPayment" class="error" style="">This field is required.</label>	    
		</div>
	</div>

	<div class="span12">
		<div class="span6">
			<label>Loan Term</label>
			<select class="span4 required" id="loanTerm" name="loanTerm">
				<option value="">Choose a term</option>
		      <option value="10">10 yr</option>
		      <option value="20">15 yr</option>
		      <option value="10">20 yr</option>
		      <option value="10">25 yr</option>
		      <option value="10">30 yr</option>
		      <option value="10">40 yr</option>			  
			</select>
		</div>
		<div class="span5">
			<label>Loan Type</label>
			<select class="span4 required" id="loanType" name="loanType">
		      <option value="">Choose a loan type</option>
		      <option value="Other">Other</option>	  
		      <option value="Conventional">Conventional</option>	  
		      <option value="FHA">FHA</option>	  
			</select>
		</div>
	</div>	
	<div class="span12">
		<div class="span6">
			<label>Property Type</label>
			<select class="span4 required" id="propertyType" name="propertyType">
		      <option value="">Choose a property type</option>
		      <option value="SFR">SFR</option>	  
		      <option value="Condo">Condo</option>	  
		      <option value="Townhome">Townhome</option>	
		      <option value="2-4 Unit">2-4 Unit</option>	  
		      <option value="PUD">PUD</option>	  
		      <option value="Coop">Coop</option>	  
			</select>
		</div>
		<div class="span5">	
			<label>Occupancy</label>
			<select class="span4 required" id="occupancy" name="occupancy">
		      <option value="">Choose an occupancy</option>
		      <option value="Owner Occupied">Owner Occupied</option>	  
		      <option value="Second Home">Second Home</option>	  
		      <option value="Townhome">Investment</option>	 
			</select>
		</div>
	</div>

	<div class="span12">
		<div class="span6">
			<label>Maximum Qualified Loan Amount</label>
			<div class="input-prepend input-append">
				<span class="add-on">$</span>			  
				<input class="span2 required number" type="text" id="loanAmount" name="loanAmount" value="" minlength="5" style="text-align: right" placeholder="100,000">	
				<span class="add-on">.00</span>
			</div>
			<label for="loanAmount" class="error" style="">This field is required.</label>		
    	</div>    
    	<div class="span5 ">	
    		<label>Maximum Qualified Interest Rate</label>
			<div class="input-prepend input-append">						 
				<input class="span2 required number" type="text" id="interestRate" name="interestRate" value="" minlength="1" style="text-align: right" placeholder="0.0">	
				<span class="add-on">%</span>
			</div>
			<label for="interestRate" class="error" style="">This field is required.</label>
		</div>	
    </div>

    <div class="span12">
    	<div class="form-actions">			  
			  {{!<button type="button" class="btn">Cancel</button>}}
			  <button type="submit" class="btn btn-primary">Create Letter</button>
		</div>		  
	</div>
	</form>


{{! modal }}
	<div id="newClientModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newClientModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="newClientModalLabel">Add Client</h3>
	  </div>
	  <div class="modal-body">
	    
	  	<form class="form-horizontal" id="newClientModelForm">		  
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">Email</label>
		    <div class="controls">
		      <input class="required email" type="text" id="inputEmail" name="inputEmail" placeholder="your@email.com">		      
		    </div>		    
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="inputFullname">Full Name</label>
		    <div class="controls">
		      <input class="required" type="text" id="inputFullname" name="inputFullname" placeholder="Joe Smith">
		      <label for="inputFullname" class="error" style="">This field is required.</label>
		    </div>		    
		  </div>		  
		</form>
	    
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    <button id="newClientModelFormSubmitBtn" class="btn btn-primary">Add Client</button>
	  </div>
	</div>

</div>