
{{#each items}}
<div class="letter">
   <div class="letter-new"><i class="icon-2x icon-file"></i> {{ title }}</div>
   <div class="letter-list-details">Added By: {{ author }}. | {{date}} | <a href="#/request/{{id}}">Edit</a></div>
</div>
{{/each}}