<ul class="inline" style="margin-bottom: 0px;">
    <li> Welcome,  <a href="#/profile">{{first_name}} <i class="icon-cog"></i></a></li>
    <li>|</li>    
    <li ><a href="#/logout">logout</a></li>    
</ul>