<div class="row">
    <div class="span8">
        <h3 style="border-bottom: 1px dotted #ccc;">Recent Activity</h4>    
        <div class="recent-letters" >
               {{>letter_detail}}}
        </div>
    </div>
    <div class="span4">
        <div class="video well" style="padding: 0">
            {{! <iframe width="300" height="225" src="http://www.youtube.com/embed/Lbewfs4X_v0?rel=0" frameborder="0" allowfullscreen></iframe> }} 
            <img src="http://placehold.it/300x240&text=video" alt="youtube video"/>
        </div>        
        <div class="well well-small quick-create">
            <h4 style="margin: 4px 0">Get started!</h4>
            <p>
                The process only takes minutes and will take hours off of the purchase process.
            </p>
            <button class="btn btn-block btn-success"><i class="icon-large icon-file-alt"></i> Create New Letter</button>
        </div>
        <div class="well well-small quick-change ">
            <h4 style="margin: 4px 0">Request a new letter</h4>
            <p>
                Edit your preapproval letter and download immediately.
            </p>
            <button class="btn btn-block btn-info"><i class="icon-large icon-pencil"></i> Request Change</button>
        </div>
</div>