<html>
<head>
   <title></title>
    <style>
        body {
            font-family: 'Helvetica', sans-serif;
            font-size: 14px;
            line-height: 23px;
            color: #333;
        }
    </style>
</head>
<body margin="0" bgcolor="#e9e9e9" style="margin: 0px;">

<table cellspacing="0" cellpadding="0" border="0" width="100%" >
    <tr>
        <td height="3" bgcolor="#045D92"></td>
    </tr>

    <tr>
        <td align="middle">
            <table cellspacing="0" cellpadding="0" border="0" width="550">
                <!-- header -->
                <tr>
                    <td bgcolor="#93CE52" style="background-color:#93CE52">
                        <table cellspacing="0" cellpadding="0" border="0" width="550">
                            <tr>
                                <td rowspan="2"><img src="http://www.repreapproval.com/images/logo2.png" alt="RePreApproval" width="340px" style="width:340px; margin-left: 15px;"/></td>
                                <td height="20" align="middle" style="background-color: #045D92; font-size: 12px; color: #fff">
                                    &nbsp; {timestamp} &nbsp;</td>
                            </tr>
                            <tr>
                                <td height="87"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#fff">
                        <table cellspacing="0" cellpadding="0" border="0" width="550">
                        <tr>
                            <td height="10" colspan="3"></td>
                        </tr>
                        <tr>
                            <td width="20"></td>
                            <td style="font-family: 'Helvetica', sans-serif; font-size: 14px; line-height: 24px; color: #333; ">
                                Hello {{username}},<br>
                                <br>
                                This is a copy of your password you requested. If you did not ask
                                for this reminder, we recommend that you log into your
                                <strong>RePreApproval</strong> account and change your password.<br>
                                <br>
                            </td>
                            <td width="20"></td>
                        </tr>
                        <tr>
                            <td width="20"></td>
                            <td style="font-family: 'Helvetica', sans-serif; font-size: 14px; line-height: 24px; color: #333; background-color: #e9e9e9">
                                &nbsp;<strong style="color:#000;">Username</strong>&nbsp;<strong style="color:#045D92;">{{email}}</strong><br>
                                &nbsp;<strong style="color:#000;">Password</strong>&nbsp;<strong style="color:#045D92;">{{password}}</strong>
                            </td>
                            <td width="20"></td>
                        </tr>
                        <tr>
                            <td width="20"></td>
                            <td style="font-family: 'Helvetica', sans-serif; font-size: 14px; line-height: 24px; color: #333">
                                <br>
                                <span style="color: #c2394c">Please keep your login information in a secured location.</span><br>
                                <br>
                                If you require additional assistance, do not hesitate to email us or visit our
                                <a style="color: #045D92" href="http://www.repreapproval.com/faq.php">Frequently Asked Questions</a> page.<br>
                                <br>
                                Thank you for choosing <strong>RePreApproval</strong><br>
                                <br>
                                We wish you great success.<br>
                                <br>
                                The Team at <strong>RePreApproval</strong><br>
                                <br>
                            </td>
                            <td width="20"></td>
                        </tr>
                        </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="40" style="background-color:#93CE52;height:40px;color:#fff;text-align:center;font-weight:bold;">
                            To login, simply <a href="http://www.repreapproval.com/login.php" style="text-decoration: none; color: #045D92">click here</a>.
                        </td>
                    </tr>
                    <tr>
                        <td height="3" style="background-color:#045D92;height:3px"></td>
                    </tr>
                    </table>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
</table>

</body>
</html>